<%-include("partials/header")%>
<%-include("partials/nav")%>

<form action="/sendMail" method="post">
    <input type="text" placeholder="email@email.com" name="username">
    <button type="submit">
        send-mail
    </button>
</form>

<%-include("partials/footer")%>