<%-include("partials/header")%>
    <div class="d-flex">
        <div class="left">
            <div style="text-align: center;">
                <h2>WELCOME TO</h2>
                <h1>&lt;/&gt;SparkWave</h1>
                <p>Log in to get the moment updates on the things that interest you.</p>
            </div>
            <form action="/user/login" method="post" class="form-container">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input placeholder="email@email.com" type="text" class="form-control" name="username">
                    </div>
                    <div class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="******************" name="password">
                    </div>
                </div>
                <a href="/sendMail" style="color: royalblue;" class="forget-password">Forget password?</a>
                <button type="submit" class="btn">Login</button>
            </form>
            <p class="register-link">
                Don't have an account? <a href="/register">Register</a>
            </p>
        </div>
        <div class="right">
            <div class="right-overlay"></div>
            <div class="right-content">
                <h3>"Creating Connections,<br> Sparking Conversations."</h3>
            </div>
        </div>
    </div>

    <style>
        /* Styles for the container */
        .d-flex {
            overflow: hidden;
            display: flexbox;
            height: 100vh;
            width: 100%;
            /* background-color: red; */
        }

        .left {
            height: 100vh;
            width: 50%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 20px;
        }

        .left h2 {
            text-align: center;
            color: black;
            font-size: 1.8rem;
            font-weight: bolder;
            font-family: gilroy;
        }

        .left h1 {
            color: black;
            font-size: 4rem;
            font-family: cursive;
            line-height: 4.5rem;
            color: #E72E1E;
        }

        .left p {
            color: black;
            font-size: 1.1rem;
            font-family: gilroy;
            margin-bottom: 2rem;
        }

        .form-container {
            width: 100%;
            color: black;
            max-width: 600px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            font-family: gilroy;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .input-group {
            display: flex;
            align-items: center;
        }

        .input-group .input-group-prepend {
            height: 40px;
        }

        .input-group .input-group-text {
            height: 39.5px;
        }

        .input-group .form-control {
            margin-left: 0;
        }

        .form-text {
            margin-top: 5px;
        }

        .forget-password {
            float: right;
            text-decoration: none;
            margin-bottom: 2rem;
        }

        .btn {
            width: 100%;
            background-color: #E72E1E;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
        }

        .register-link {
            color: black;
            font-family: gilroy;
            font-size: 1.01rem;
            margin-top: 20px;
        }

        .register-link a {
            text-decoration: none;
            color: #E72E1E;
        }

        .right {
            height: 100vh;
            width: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://images.unsplash.com/photo-1572883454114-1cf0031ede2a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YnVpbGRpbmdzfGVufDB8fDB8fHww');
            position: relative;
        }

        .right-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 0, 0, 0.5);
        }

        .right-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99999;
        }

        .right-content h3 {
            text-align: center;
            color: white;
        }

        @media screen and (max-width: 480px) {
            .d-flex {
                padding: 20px 10px;
                display: flex;
                flex-direction: column;
                height: 100vh; 
                width: 100%;
                /* background-color: red; */
            }
            .right{
                display: none;
            }
            .left{
                width: 100%;
            }
            .left h2 {
            text-align: center;
            color: black;
            font-size: 1.4rem;
            font-weight: bolder;
            font-family: gilroy;
        }

        .left h1 {
            color: black;
            font-size: 3.4rem;
            font-family: cursive;
            line-height: 4.5rem;
            color: #E72E1E;
        }
        .form-text {
            font-size: 12px;
            margin-top: 5px;
        }

        .left p {
            color: black;
            font-size: 1rem;
            font-family: gilroy;
            margin-bottom: 2rem;
        }

        }
    </style>
    <%-include("partials/footer")%>