<%- include("partials/header") %>
    <div class="header">
        <h1>&lt;/&gt;SparkWave</h1>
    </div>
    <form class="form-container" action="/user/register" method="post">
        <h1>Sign up</h1>
        <h3>See what SparkWave is capable of for free</h3>
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" name="fullname" id="fullname" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" name="username" id="username" placeholder="email@email.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="************">
        </div>
        <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="number" name="contact" id="contact" placeholder="Contact Number">
        </div>
        <div class="form-group">
            <label for="date">DOB</label>
            <input type="date" name="date" id="date">
        </div>
        <button type="submit" class="btn">Register</button>
        <p class="login-link">
            Already have an account? <a href="/">Login</a>
        </p>
    </form>
    <style>
        /* Styles for the page header */
        body {
            background-color: #E72E1E;
        }

        .header {
            padding-top: 15px;
            width: 100%;
            background-color: #E72E1E;
        }

        .header h1 {
            color: white;
            text-align: center;
            font-size: 2.5rem;
            font-family: cursive;
            line-height: 4.5rem;
        }

        /* Styles for the form */
        .form-container {
            border-radius: 40px;
            font-family: gilroy;
            width: 50vw;
            height: 90vh;
            margin: auto;
            padding: 40px;
            border: 1px solid #ddd;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
        }

        .form-container h1 {
            text-align: center;
            font-weight: bolder;
            font-size: 2.8rem;
        }

        .form-container h3 {
            text-align: center;
            margin:5px;
            font-weight: 200;
            font-size: 1.1rem;
        }

        .form-group {
            outline: none;
            margin-bottom: 15px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn {
            background-color: #E72E1E;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .login-link {
            text-align: center;
            margin-top: 15px;

        }

        .login-link a {
            text-decoration: none;
            color: #E72E1E;
        }

        @media screen and (max-width: 450px) {
            
            .form-container {
                border-radius: 40px;
                font-family: gilroy;
                width: 100vw;
                height: 95vh;
                margin: auto;
                padding-top: 40px;
                padding: 20px;
                border: 1px solid #ddd;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background-color: white;
            }

            .login-link {
                text-align: center;
                margin-top: 15px;
                margin-bottom: 40px;
            }
            .form-container h3 {
            text-align: center;
            font-weight: 200;
            font-size: 0.8rem;
            margin: 7px;
        }
        }
    </style>
    <%- include("partials/footer") %>